@use "@/style/utilities/_mixins.scss" as *;

.teachers {
  @include display();
  width: 100%;
  padding: 80px 0px 0px 0px;

  &__title {
    @include merri();
    font-size: 35px;
    font-weight: 700;
  }

  &__wrap {
    @include display();
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    gap: 50px;
  }

  &__cards {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    gap: 20px;
  }

  &__c-left {
    @include display();
    flex-direction: column;
    gap: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__c-center {
    @include display();
    flex-direction: column;
    gap: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__c-right {
    @include display();
    flex-direction: column;
    gap: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  &__item {
    @include display();
    position: relative;
    flex-direction: column;
    overflow: hidden;
    justify-content: start;
    align-items: start;
    border-radius: 20px;
    // background-color: red;
    padding: 10px 40px 10px 40px;
    min-height: 300px;
    // max-width: 400px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 0px;
      z-index: 2;
      box-shadow: 0px 0px 300px 110px rgb(0, 0, 0);
    }
  }

  &__bg {
    position: absolute;
    z-index: 0;
  }

  &__item-img-span {
    @include display();
    position: relative;
    z-index: 1;
    max-height: 200px;
    align-items: start;
  }

  &__item-img-span-center {
    @include display();
    position: relative;
    z-index: 1;
    max-height: 350px;
    align-items: start;
  }

  &__image {
    max-width: 500px;
    max-height: 640px;
  }

  &__image-center {
    max-width: 700px !important;
    max-height: 640px !important;
  }

  &__item-bottom {
    @include display();
    position: relative;
    left: -30px;
    padding: 10px;
    width: 100%;
    justify-content: start;
    gap: 10px;
    max-width: 250px;
    z-index: 3;
    flex-wrap: wrap;
  }

  &__item-b-span {
    @include display();
    @include plus();
    flex-direction: column;
    align-items: start;
    word-break: break-all;
  }

  &__itmbspan-title {
    padding: 2px 9px;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    border: 1px solid rgb(131, 131, 131);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    font-weight: 600;
    font-size: 13px;
  }

  &__itmbspan-text {
    font-weight: 600;
    font-size: 15px;
    color: white;
    padding: 0px 0px 0px 10px;
  }
}
