@use "@/style/utilities/_mixins.scss" as *;

.about {
  width: 100%;
  padding: 100px 0px;
  background-color: rgb(238, 238, 238);

  &__cont {
    @include display();
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
  }

  &__title {
    @include merri();
    font-size: 35px;
    font-weight: 700;
  }

  &__bottom {
    @include display();
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  &__b-right {
    max-width: 600px;
  }

  &__card {
    @include display();
    width: 100%;
    margin-top: 40px;
    gap: 20px;
  }

  &__c-item {
    position: relative;
    flex-grow: 1;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    overflow: hidden;

    &:hover .about__g-span {
      // bottom: -10px !important;
      // right: 0px !important;
      // transition: all 0.3s ease-in-out;
      animation: shapes-2 2s linear infinite;
    }
  }

  &__g-span {
    position: absolute;
    width: 100px;
    height: 100px;
    color: #f99313;
    bottom: -10px;
    right: -30px;
  }

  &__b-main-txt {
    @include plus();
  }

  @keyframes shapes {
    0% {
      bottom: 0px;
      right: 0px;
    }
    100% {
      bottom: -10px;
      right: -30px;
    }
  }
  @keyframes shapes-2 {
    0% {
      transform: rotate(0deg);
      bottom: -10px;
      right: -30px;
    }
    100% {
      transform: rotate(90deg);
      bottom: -10px;
      right: -30px;
    }
  }

  &__cit-txt {
    @include display();
    align-items: start;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
    color: gray;
  }

  &__cit-txt-span {
    font-size: 35px;
    font-weight: 600;
    color: #f99313;
  }

  &__full {
    @include display();
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgb(0, 0, 0);
  }

  &__video-play-full {
    // max-width: 700px;
    width: 100%;
    height: 100%;
  }

  &__video-play {
    width: 100%;
    height: 100%;
    // max-height: 380px;
    // flex-grow: 1;
    // width: 430px;
    // height: 242px;
    width: 780px;
    height: 439px;
  }

  &__video {
    @include display();
    position: relative;

    // height: 350px;
    width: auto;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    overflow: hidden;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.363);
      z-index: 0;
    }
  }

  &__vplay-cont {
    position: absolute;
    width: 60px;
    height: 60px;
    left: calc((100% - 60px) / 2);
    top: calc((100% - 60px) / 2);
    z-index: 1;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    border: 0.1px solid rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(15px);
  }

  &__vplay {
    color: white;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
    padding: 13px;
    svg {
      color: black;
      stroke-width: 0.1px;
    }
  }
}

.no-scroll {
  overflow: hidden;
}
