.header__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;

}

.header__link:hover {
  color: #0070f3; 
}

.header__ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-left: 100px;
  justify-content: center; 
}



.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 78%;
  max-width: 1200px;
  border-radius: 50px;

  backdrop-filter: blur(100px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;

  z-index: 100;

  overflow: visible;
}

.header__logo-img { 
    position: relative;
    // max-width: 50px;
    // height: 50px;
}

.header__li {
  list-style: none;
}

.header__lang-wrapper {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__language-dropdown {
  position: relative;
}

.header__language-dropdown-box {
  position: absolute;
  top: 70px;
  right: 0;

  width: 190px;

  background: #fff;
  border-radius: 20px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  box-shadow: 0 10px 25px rgba(0,0,0,.15);

  z-index: 9999;
}

.header__language-button {
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 8px 12px;

  border-radius: 12px;
}

.header__language-button:hover {
  background: #f4f4f4;
}

.header__language-button-global {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: rgba(255,255,255,.15);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__language-image {
  border-radius: 50%;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 24px; 
    width: 95%;
  }

  .header__ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px 18px;
  }

  .header__link {
    font-size: 15px;
  }
}

.light-header {
  background-color: rgba(255, 255, 255, 0.842) !important;
}

.light-link {
  color: black !important;
}

.light-box {
  background-color: rgba(128, 128, 128, 0.158);
}