@use "@/style/utilities/_mixins.scss" as *;

.courses {
  @include display();
  position: relative;
  width: 100%;
  overflow: hidden !important; 
  gap: 20px;
  padding: 0px 0px  100px 0px;
  background-color: rgb(238, 238, 238);

  &__cont {
    @include display();
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
  }

  &__swiper {
    @include display();
    width: 100%;
    gap: 10px;
  }

  &__slide {
    @include display();
    border-radius: 10px;
    padding: 2px;
    flex-grow: 1
  }

  &__card {
    @include display();
    flex-direction: column;
    justify-content: start;
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
    min-height: 550px;
    background-color: white;
    flex-grow: 1;
    height: 100%
  }

  &__c-top {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
  }

  &__ct-title {
    @include plus();
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
  }

  &__ctit-wrap {
    display: inline-block;
    background-color: #ffffff;
    padding: 4px 10px;
    border-radius: 12px;
    mix-blend-mode: screen;
  }

  &__ct-price {
    font-size: 25px;
    color: #000000;
    font-weight: 600;
    letter-spacing: -0.01em;
  }

  &__l-svg {
    width: 20px;
    height: 20px;
  }

  &__ul-list {
    @include display();
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    height: 100%;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
  }

  &__list {
    @include display();
    align-items: start;
    color: gray;
    gap: 10px;
  }

  &__title {
    @include merri();
    font-size: 35px;
    font-weight: 700;
  }



  &__button {
    width: 90%;
    padding: 10px 20px;
    background-color: black;
    border-radius: 50px;
    color: white;
    cursor: pointer;
  }

  &__bg {
    position: absolute;
    left: calc((100% - 100px) / 2);
    bottom: -310px;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    z-index: 0;
  }
}
